*{
  box-sizing: border-box;
}
body{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
img{
  height: 730px;
  width: 500px;
}

.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 2%;
  border-radius: 6px;
}


.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-radius: 8px;
}
.input-box input:focus
{
  border-color: #3A5B22;
}

form p{
  font-size: 14px;
  text-align: center;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  background: #3A5B22;
}
.input-box.button input:hover{
  background: #25480e;
}

form .text p a{
  color: #3A5B22;
  text-decoration: none;
}
form .text p a:hover{
  text-decoration: underline;
}